*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Bebas Neue', cursive;
    box-sizing: 0;


}
h1 {
    font-size: 5rem;
    text-align: center;
    color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
}
#cabecera {
    font-size: 4rem;
    text-align: center;
}
h2 {
    font-size: 3.5rem;
    background-color: red;
    display: flex;
    border-color: black;
    border-style: double;
    border-width: 15px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-width: 320px;
    text-align: center;
    height: 100px;
    margin: 50px 30px 50px;

}
.primer-input {
    font-size: 2rem;
    border-color: red;
    border-radius: 5px;
    color: red;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    position: relative;
    width: 100%;
    margin-left: 400px;
}
.input10 {
    font-size: 2rem;
    border-color: red;
    border-radius: 5px;
    color: red;
    position: absolute;
    margin-left: 390px;
    text-align: center;
}
.segundo-input {
    font-size: 2rem;
    border-color: #00FF00;
    border-radius: 5px;
    color: #00FF00;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    min-width: 320px;
    margin-top: 50px;
    position: relative;

}
.input20 {
    position: absolute;
    margin-left: 390px;
    font-size: 2rem;
    border-color: #00FF00;
    border-radius: 5px;
    color: #00FF00;
    text-align: center;

}
.boton {
    font-size: 2rem;
    border-color: #0101DF;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin-top: 50px;
    min-width: 320px;
    display: block;
    justify-content: center;
    margin-left: 350px;
    text-align: center;
}
#resultp {
    font-size: 2rem;
    color: white;
    background-color: black;
    border-color: black;
    width: 260px;
    height: auto;
    padding: 3px;
    min-width: 320px;
    display: block;
    justify-content: center;
    margin-left: 350px;
    margin-top: 50px;
    text-align: center;
}